<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Custom fonts for this template-->
    <script src="https://kit.fontawesome.com/8d5fe92c5f.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!--  chart.js  -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--  간트 js  -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!--  달력  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Custom styles for this template-->
    <link href="/css/css.css" rel="stylesheet">
    <title>제1조 MES</title>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" id="sidebarBrandTexts"
           href="/main">
            <div class="sidebar-brand-icons">
                <i class="fa-solid fa-industry fa-2x" id="brandLogo"></i>
            </div>
            <div class="sidebar-brand-text mx-4">
                <div class="sidebarBrandTexts">제1조 MES</div>
            </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-3">

        <!-- Nav Item - 수주관리 -->
        <li class="nav-item">
            <a class="nav-link" href="/rorder/order">
                <i class="fa-solid fa-wallet"></i>
                <span>수주관리</span></a>
        </li>

        <!-- Nav Item - 자재관리 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
               aria-expanded="true" aria-controls="collapseOne">
                <i class="fa-solid fa-pen-to-square"></i>
                <span>자재관리</span>
            </a>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/materials/porder-status">· 발주 현황</a>
                    <a class="collapse-item" href="/materials/material-inoutput">· 자재 입·출 현황</a>
                    <a class="collapse-item" href="/materials/material-inventory">· 자재 재고 현황</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - 생산관리 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fa-solid fa-clipboard"></i>
                <span>생산관리</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/production/production-plan">· 작업 계획 현황</a>
                    <a class="collapse-item" href="/production/production-order">· 작업 지시 현황</a>
                    <a class="collapse-item" href="/production/production-performance">· 작업 실적 현황</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - 출하관리 -->
        <li class="nav-item">
            <a class="nav-link" href="/shipment/shipment">
                <i class="fa-solid fa-chart-simple"></i>
                <span>출하관리</span>
            </a>
        </li>

        <!-- Nav Item - 거래처관리 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
               aria-expanded="true" aria-controls="collapseThree">
                <i class="fa-solid fa-user-group"></i>
                <span>거래처관리</span>
            </a>
            <div id="collapseThree" class="collapse" aria-labelledby="HeadingThree" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/customer/rorder-customer">· 수주 거래처 현황</a>
                    <a class="collapse-item" href="/customer/porder-customer">· 발주 거래처 현황</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - 품목관리 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour"
               aria-expanded="true" aria-controls="collapseFour">
                <i class="fa-solid fa-chart-bar"></i>
                <span>품목관리</span>
            </a>
            <div id="collapseFour" class="collapse" aria-labelledby="HeadingFour" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/item/product">· 제품 재고 현황</a>
                    <a class="collapse-item" href="/item/bom">· BOM 현황</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - 설비관리 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFive"
               aria-expanded="true" aria-controls="collapseFive">
                <i class="fa-solid fa-gear"></i>
                <span>설비관리</span>
            </a>
            <div id="collapseFive" class="collapse" aria-labelledby="HeadingFive" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/facility/facility-status">· 설비 현황</a>
                    <a class="collapse-item" href="/facility/facility-information">· 설비 정보</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - LOT 관리 -->
        <li class="nav-item">
            <a class="nav-link" href="/lot/lot">
                <i class="fa-solid fa-repeat"></i>
                <span>LOT 관리</span>
            </a>
        </li>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center-toggle">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- main content-->
        <div id="mainRow1">
            <!-- calendar -->
            <div class="mainContent">
                <h2 class="calendarLogo"><i class="fa-regular fa-calendar-days" id="calendarIcon"
                                            style="color: #6a84ab;"></i>일일 재공 현황</h2>
                <div class="yearMonth">
                    <label for="year">년도:</label>
                    <select id="year" onchange="updateCalendar()">
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                    </select>
                    <label for="month">월:</label>
                    <select id="month" onchange="updateCalendar()">
                        <option value="0">1월</option>
                        <option value="1">2월</option>
                        <option value="2">3월</option>
                        <option value="3">4월</option>
                        <option value="4">5월</option>
                        <option value="5">6월</option>
                        <option value="6">7월</option>
                        <option value="7">8월</option>
                        <option value="8">9월</option>
                        <option value="9">10월</option>
                        <option value="10">11월</option>
                        <option value="11">12월</option>
                    </select>
                </div>
                <div id="calendar-container"></div>
            </div>
            <!-- End calendar-->

            <!-- 수주별 생산 현황 -->
            <div class="mainContent2">
                <div class="mainChartHeader">
                    <h2><i class="fa-solid fa-chart-gantt" id="orderCurrentIcon" style="color: #6a84ab;"></i>수주별 생산 현황
                    </h2>
                </div>
                <div class="mainCharts">
                    <div id="orderCurrent"></div>
                </div>
            </div>
            <!-- 수주별 생산 현황 끝 -->
        </div>

        <div id="mainRow2">
            <!-- 일일 생산량 -->
            <div class="mainContent3">
                <div class="mainChart">
                    <div class="mainChartHeader">
                        <h2><i class="fa-solid fa-chart-simple" id="dailyProductionIcon"
                               style="color: #6a84ab;"></i>일일 생산량</h2>
                    </div>
                    <div class="mainCharts">
                        <canvas id="dailyProduction"></canvas>
                    </div>
                </div>
            </div>
            <!-- 일일 생산량 끝 -->

            <!-- 월간 생산량 -->
            <div class="mainContent4">
                <div class="mainChart">
                    <div class="mainChartHeader">
                        <h2><i class="fa-solid fa-chart-area" id="monthlyProductionIcon"
                               style="color: #6a84ab;"></i>월간 생산량</h2>
                    </div>
                    <div class="mainCharts">
                        <canvas id="monthlyProduction"></canvas>
                    </div>
                </div>
            </div>
            <!-- 월간 생산량 끝 -->
        </div>
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
</div>
<!-- End of Page Wrapper -->


<!-- 작성 스크립트 -->
<script src="/js/mainJS/calendar.js"></script>
<script src="/js/mainJS/orderCurrentChart.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/mainJS/monthlyChart.js"></script>
<script src="/js/mainJS/dailyChart.js"></script>
<!-- Bootstrap core JavaScript-->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/js/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

</body>
</html>